// out: ../css/main.css

@blue: #2749f1;
@dblue: #203abd;
@bgblue: rgba(39, 73, 241, .17);
@dbgblue: rgba(39, 73, 241, .2);
@grey: #f4f5f9;
@dgrey: #e2e5ec;
@red: #ff2a24;
@bgred: rgba(255, 42, 36, 0.17);
@dbgred: rgba(255, 42, 36, 0.2);
@white: #f4f5f9;
@text: #535969;

* {
   margin: 0;
   padding: 0;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
   border-collapse: collapse;
}

html, body {
   background: @grey;
   display: flex;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
   font-family: 'Roboto', sans-serif;
   color: @text;
}

nav {
   display: flex;
   height: 100%;
   .panel {
      background: @blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 25px 15px;
      align-items: center;
      position: relative;
      z-index: 1;
      overflow-y: auto;
      div {
         transition: all .3s ease;
      }
      a {
         color: @white;
         padding: 3px;
         border-radius: 100%;
         display: flex;
         text-align: center;
         justify-content: center;
         align-items: center;
         margin: 15px 0;
         padding: 7px;
         transition: all .3s ease;
         &.logo {
            height: 37px;
            margin: 0;
            padding: 0px 4px .5px;
         }
         &:hover {
            background: @dblue;
         }
         svg {
            fill: @white;
         }
      }
      & > a {
         width: 44px;
         height: 44px;
         display: flex;
         justify-content: center;
         align-items: center;
         svg {
            &:nth-child(1) {
               display: block;
            }
            &:nth-child(2) {
               display: none;
            }
         }
         &:hover {
            transform: rotate(180deg);
            svg {
               &:nth-child(1) {
                  display: none;
               }
               &:nth-child(2) {
                  display: block;
               }
            }
         }
      }
      .links {
         display: flex;
         flex-direction: column;
         color: @white;
         min-height: 159px;
      }
      .close-links {
         display: none;
      }
      &.close {
         a {
            margin: 15px 0 0px;
         }
      }
   }
   .list {
      background: @dgrey;
      display: flex;
      flex-direction: column;
      padding: 30px 60px 30px 30px;
      position: relative;
      transition: all .3s ease;
      z-index: 0;
      box-shadow: inset -17px 1px 40px -25px rgb(206, 206, 206);
      width: 288px;
      &.animate {
         left: -190px;
         a {
            transform: translateX(-10px);
            opacity: 0;
         }
      }
      a {
         color: #42526e;
         display: flex;
         align-items: center;
         margin: 5px 0;
         padding: 10px 0;
         transition: all .3s ease;
         svg {
            margin-right: 25px;
            fill: #848484;
         }
         span {
            // font-weight: 500;
         }
         &:hover {
            color: @blue;
            svg {
               fill: @blue;
            }
         }
      }
   }
   .resizer {
      border-left: 2px solid @blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3px;
      cursor: pointer;
      opacity: 0;
      transition: all .3s ease;
      span {
         background: @blue;
         height: 2px;
         width: 8px;
         transition: all .3s ease;
         &:nth-child(1) {
            transform: rotate(90deg) translateX(-3px);
         }
         &:nth-child(2) {
            transform: rotate(90deg) translateX(3px);
         }
      }
      &.close:hover {
         opacity: 1;
         span {
            &:nth-child(1) {
               transform: rotate(130deg) translateX(-2px);
            }
            &:nth-child(2) {
               transform: rotate(50deg) translateX(2px);
            }
         }
      }
      &.open:hover {
         opacity: 1;
         span {
            &:nth-child(1) {
               transform: rotate(50deg) translateX(-2px);
            }
            &:nth-child(2) {
               transform: rotate(130deg) translateX(2px);
            }
         }
      }
   }
}
main {
   height: 100%;
   padding: 30px;
   width: 100%;
   position: relative;
   header {
      .breadcrumbs {
         margin-bottom: 30px;
         opacity: .6;
         a {
            color: @text;
            &:after {
               content: ' / ';
               display: inline-block;
               margin-left: 5px;
            }
            &:last-child {
               &:after {
                  display: none;
               }
            }
            &:hover {
               text-decoration: underline;
               &:after {
                  text-decoration-color: @white;
               }
            }
         }
      }
      h1 {
         margin-bottom: 35px;
         font-weight: 500;
      }
   }
}

.language {
   margin-bottom: 30px;
   margin-top: -10px;
}
.select {
   display: inline-flex;
   flex-direction: column;
   width: 130px;
   position: relative;
   .selected {
      justify-content: center;
      display: flex;
      background: @dgrey;
      padding: 5px 10px 5px 15px;
      border-radius: 100px;
      align-items: center;
      cursor: pointer;
      z-index: 100;
      svg {
         fill: @text;
         transition: all .3s ease;
      }
      span {
   
      }
      &:hover {
         background: #dee1e6;
         svg {
            transform: translateY(2px);
         }
      }
      &.active {
         border-radius: 15px 15px 0 0;
         ~ .list {
            box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
            top: 29px;
         }
         svg {
            transform: rotate(180deg);
         }
         &:hover {
            svg {
               transform: rotate(180deg) translateY(2px);
            }
         }
      }
   }
   .list {
      transition: top .2s ease;
      display: flex;
      flex-direction: column;
      background: @dgrey;
      overflow: hidden;
      top: 21px;
      left: 0;
      width: 100%;
      position: absolute;
      border-radius: 0 0 15px 15px;
      display: none;
      z-index: 99;
      span {
         padding: 5px 10px;
         display: block;
         text-align: center;
         cursor: pointer;
         &:hover {
            background: #dee1e6;
         }
      }
   }
}

.card {
   display: flex;
   align-items: center;
   padding: 15px;
   background: #fff;
   border-radius: 30px;
   margin-bottom: 20px;
   width: 585px;
   transition: transform .3s ease;
   box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
   height: 78px;
   position: relative;
   span {
      display: block;
      width: calc(~'50% - 96px / 2');
      margin: 5px;
      transition: all .3s ease;
      &:first-child {
         font-weight: 500;
      }
   }
   .btn-container {
      display: flex;
      opacity: 0;
      transition: all .3s ease;
      a {
         display: block;
         height: 38px;
         padding: 7px;
         border-radius: 100%;
         margin: 5px;
         &.blue {
            svg {
               fill: @blue;
               path {
                  transition: all .3s ease;
               }
            }
            &:hover {
               background: @bgblue;
               svg {
                  path {
                         d: path("M 11.06 9.02 l 0.92 0.92 L 5.92 19 H 5 v -0.92 l 9.06 -9.06 M 17.66 3 c -0.25 0 -0.51 0.1 -0.7 0.29 l -1.83 1.83 l 3.75 3.75 l 1.83 -1.83 c 0.39 -0.39 0.39 -1.02 0 -1.41 l -2.34 -2.34 c -0.2 -0.2 -0.45 -0.29 -0.71 -0.29 Z m -3.6 3.19 L 3 17.25 V 21 h 3.75 L 17.81 9.94 l -3.75 -3.75 Z");
                  }
               }
            }
         }
         &.red {
            svg {
               fill: @red;
               path {
                  transition: all .3s ease;
               }
            }
            &:hover {
               background: @bgred;
               svg {
                  path {
                     d: path("M 16 9 v 0 H 8 V 9 h 8 m -1.5 -6 h -5 l -1 1 H 5 v 2 h 14 V 4 h -3.5 l -1 -1 Z M 18 7 H 6 v 12 c 0 1.1 0.9 2 2 2 h 8 c 1.1 0 2 -0.9 2 -2 V 7 Z");
                  }
               }
            }
         }
         &.green {
            background: @red;
            svg {
               fill: @white;
            }
         }
      }
   }
   &:hover {
      transform: scale(1.05);
      box-shadow: 5px 4px 25px -8px rgba(0, 0, 0, 0.2);
      .btn-container {
         opacity: 1;
      }
      span {
         transform: scale(.95);
      }
   }
   &.nohover {
      .btn-container,
      span:nth-child(2) {
         display: none;
      }
      &:hover {
         transform: scale(1);
         box-shadow: none;
         span {
            transform: scale(1);
         }
      }
      span:nth-child(1) {
         transition: all .7s ease;
         transform: translateY(calc(~'(-100vh + 60px) / 2 + 96px')) translateX(-20px);
         font-size: 32px;
      }
   }
}

.confirm {
   background: #fff;
   position: fixed;
   top: 30px;
   right: 30px;
   z-index: 9991;
   padding: 30px;
   border-radius: 30px;
   box-shadow: none;
   width: 400px;
   transform: translateX(500px);
   transition: all .4s cubic-bezier(0.21, 0.96, 0.51, 1.15);
   &.active {
      box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
      transform: translateX(0);
   }
   button.red {
      font-weight: 500;
      margin-left: 0;
   }
   p {
      margin-bottom: 15px;
   }
}

button {
   margin: 5px;
   padding: 10px 25px;
   border-radius: 20px;
   border: 0;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   &.blue {
      color: @blue;
      background: @bgblue;
      &:hover {
         background: @dbgblue;
      }
   }
   &.red {
      color: @red;
      background: @bgred;
      &:hover {
         background: @dbgred;
      }
   }
   &.green {
      background: @red;
      svg {
         fill: @white;
      }
   }
}