* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border-collapse: collapse;
}
html,
body {
  background: #f4f5f9;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: #535969;
}
nav {
  display: flex;
  height: 100%;
}
nav .panel {
  background: #2749f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 15px;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow-y: auto;
}
nav .panel div {
  transition: all .3s ease;
}
nav .panel a {
  color: #f4f5f9;
  padding: 3px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 7px;
  transition: all .3s ease;
}
nav .panel a.logo {
  height: 37px;
  margin: 0;
  padding: 0px 4px .5px;
}
nav .panel a:hover {
  background: #203abd;
}
nav .panel a svg {
  fill: #f4f5f9;
}
nav .panel > a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .panel > a svg:nth-child(1) {
  display: block;
}
nav .panel > a svg:nth-child(2) {
  display: none;
}
nav .panel > a:hover {
  transform: rotate(180deg);
}
nav .panel > a:hover svg:nth-child(1) {
  display: none;
}
nav .panel > a:hover svg:nth-child(2) {
  display: block;
}
nav .panel .links {
  display: flex;
  flex-direction: column;
  color: #f4f5f9;
  min-height: 159px;
}
nav .panel .close-links {
  display: none;
}
nav .panel.close a {
  margin: 15px 0 0px;
}
nav .list {
  background: #e2e5ec;
  display: flex;
  flex-direction: column;
  padding: 30px 60px 30px 30px;
  position: relative;
  transition: all .3s ease;
  z-index: 0;
  box-shadow: inset -17px 1px 40px -25px #cecece;
  width: 288px;
}
nav .list.animate {
  left: -190px;
}
nav .list.animate a {
  transform: translateX(-10px);
  opacity: 0;
}
nav .list a {
  color: #42526e;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px 0;
  transition: all .3s ease;
}
nav .list a svg {
  margin-right: 25px;
  fill: #848484;
}
nav .list a:hover {
  color: #2749f1;
}
nav .list a:hover svg {
  fill: #2749f1;
}
nav .resizer {
  border-left: 2px solid #2749f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}
nav .resizer span {
  background: #2749f1;
  height: 2px;
  width: 8px;
  transition: all .3s ease;
}
nav .resizer span:nth-child(1) {
  transform: rotate(90deg) translateX(-3px);
}
nav .resizer span:nth-child(2) {
  transform: rotate(90deg) translateX(3px);
}
nav .resizer.close:hover {
  opacity: 1;
}
nav .resizer.close:hover span:nth-child(1) {
  transform: rotate(130deg) translateX(-2px);
}
nav .resizer.close:hover span:nth-child(2) {
  transform: rotate(50deg) translateX(2px);
}
nav .resizer.open:hover {
  opacity: 1;
}
nav .resizer.open:hover span:nth-child(1) {
  transform: rotate(50deg) translateX(-2px);
}
nav .resizer.open:hover span:nth-child(2) {
  transform: rotate(130deg) translateX(2px);
}
main {
  height: 100%;
  padding: 30px;
  width: 100%;
  overflow: auto;
  position: relative;
}
main header .breadcrumbs {
  margin-bottom: 30px;
  opacity: .6;
}
main header .breadcrumbs a {
  color: #535969;
}
main header .breadcrumbs a:after {
  content: ' / ';
  display: inline-block;
  margin-left: 5px;
}
main header .breadcrumbs a:last-child:after {
  display: none;
}
main header .breadcrumbs a:hover {
  text-decoration: underline;
}
main header .breadcrumbs a:hover:after {
  text-decoration-color: #f4f5f9;
}
main header h1 {
  margin-bottom: 35px;
  font-weight: 500;
}
.language {
  margin-bottom: 30px;
  margin-top: -10px;
}
.select {
  display: inline-flex;
  flex-direction: column;
  width: 130px;
  position: relative;
}
.select .selected {
  justify-content: center;
  display: flex;
  background: #e2e5ec;
  padding: 5px 10px 5px 15px;
  border-radius: 100px;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.select .selected svg {
  fill: #535969;
  transition: all .3s ease;
}
.select .selected:hover {
  background: #dee1e6;
}
.select .selected:hover svg {
  transform: translateY(2px);
}
.select .selected.active {
  border-radius: 15px 15px 0 0;
}
.select .selected.active ~ .list {
  box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
  top: 29px;
}
.select .selected.active svg {
  transform: rotate(180deg);
}
.select .selected.active:hover svg {
  transform: rotate(180deg) translateY(2px);
}
.select .list {
  transition: top .2s ease;
  display: flex;
  flex-direction: column;
  background: #e2e5ec;
  overflow: hidden;
  top: 21px;
  left: 0;
  width: 100%;
  position: absolute;
  border-radius: 0 0 15px 15px;
  display: none;
  z-index: 99;
}
.select .list span {
  padding: 5px 10px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.select .list span:hover {
  background: #dee1e6;
}
.card {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 585px;
  transition: transform .3s ease;
  box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
  height: 78px;
  position: relative;
}
.card span {
  display: block;
  width: calc(50% - 96px / 2);
  margin: 5px;
  transition: all .3s ease;
}
.card span:first-child {
  font-weight: 500;
}
.card .btn-container {
  display: flex;
  opacity: 0;
  transition: all .3s ease;
}
.card .btn-container a {
  display: block;
  height: 38px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
}
.card .btn-container a.blue svg {
  fill: #2749f1;
}
.card .btn-container a.blue svg path {
  transition: all .3s ease;
}
.card .btn-container a.blue:hover {
  background: rgba(39, 73, 241, 0.17);
}
.card .btn-container a.blue:hover svg path {
  d: path("M 11.06 9.02 l 0.92 0.92 L 5.92 19 H 5 v -0.92 l 9.06 -9.06 M 17.66 3 c -0.25 0 -0.51 0.1 -0.7 0.29 l -1.83 1.83 l 3.75 3.75 l 1.83 -1.83 c 0.39 -0.39 0.39 -1.02 0 -1.41 l -2.34 -2.34 c -0.2 -0.2 -0.45 -0.29 -0.71 -0.29 Z m -3.6 3.19 L 3 17.25 V 21 h 3.75 L 17.81 9.94 l -3.75 -3.75 Z");
}
.card .btn-container a.red svg {
  fill: #ff2a24;
}
.card .btn-container a.red svg path {
  transition: all .3s ease;
}
.card .btn-container a.red:hover {
  background: rgba(255, 42, 36, 0.17);
}
.card .btn-container a.red:hover svg path {
  d: path("M 16 9 v 0 H 8 V 9 h 8 m -1.5 -6 h -5 l -1 1 H 5 v 2 h 14 V 4 h -3.5 l -1 -1 Z M 18 7 H 6 v 12 c 0 1.1 0.9 2 2 2 h 8 c 1.1 0 2 -0.9 2 -2 V 7 Z");
}
.card .btn-container a.green {
  background: #ff2a24;
}
.card .btn-container a.green svg {
  fill: #f4f5f9;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 4px 25px -8px rgba(0, 0, 0, 0.2);
}
.card:hover .btn-container {
  opacity: 1;
}
.card:hover span {
  transform: scale(0.95);
}
.card.nohover .btn-container,
.card.nohover span:nth-child(2) {
  display: none;
}
.card.nohover:hover {
  transform: scale(1);
  box-shadow: none;
}
.card.nohover:hover span {
  transform: scale(1);
}
.card.nohover span:nth-child(1) {
  transition: all .7s ease;
  transform: translateY(calc((-100vh + 60px) / 2 + 96px)) translateX(-20px);
  font-size: 32px;
}
.confirm {
  background: #fff;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9991;
  padding: 30px;
  border-radius: 30px;
  box-shadow: none;
  width: 400px;
  transform: translateX(500px);
  transition: all 0.4s cubic-bezier(0.21, 0.96, 0.51, 1.15);
}
.confirm.active {
  box-shadow: 5px 4px 25px -12px rgba(0, 0, 0, 0.2);
  transform: translateX(0);
}
.confirm button.red {
  font-weight: 500;
  margin-left: 0;
}
.confirm p {
  margin-bottom: 15px;
}
button {
  margin: 5px;
  padding: 10px 25px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
button.blue {
  color: #2749f1;
  background: rgba(39, 73, 241, 0.17);
}
button.blue:hover {
  background: rgba(39, 73, 241, 0.2);
}
button.red {
  color: #ff2a24;
  background: rgba(255, 42, 36, 0.17);
}
button.red:hover {
  background: rgba(255, 42, 36, 0.2);
}
button.green {
  background: #ff2a24;
}
button.green svg {
  fill: #f4f5f9;
}
